// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-img {
  background-image: image-url('image001.jpg');
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  padding-top: 200px;
  padding-bottom: 60px;
  height: 100vh;
}