.musics-register-title{
  padding-top: 150px;
}

.musics-register-title{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  /* padding: 5px; */
text-align: center;
}

.explanation {
  margin-top: 50px;
}

.col {
  padding: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.checkbox-list {
  padding: 32px 90px;
  border: 1px solid black;
 
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 1%;
  width: 80%;
}


.col-md-4{
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
}

.btn-contents{
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
}


.btn{
  color: white;
  background-color:#3399CC;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn:hover {
  color: white;
}

.musics-text{
  resize: none;
  width:300px;
  height:200px;
}
.room-name {
  resize: none;
  width: 300px;
}

.input-default-phone {
  width: 170px;
}

.input-default-url {
  width: 200px;
}

.indispensable {
  color: #3399CC;
  margin-left: 6px;
  padding: 0 1px;

}