.room-show {
  padding-top: 150px;
  /* background-color: lime; */
}

.room-top{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  /* padding: 5px; */
}

.room-img-content{
  justify-content: space-around;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 90px;
 
}
.room-box-img {
  width: 100%;
  /* width: 35vw;
  height: auto; */
}

.room-content{
  background-color: blue;
  width: 20vw;
}

.room-content h5{
  line-height: 1.8em;
}

.explanation {
  margin-top: 50px;
}

.col {
  padding: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.col-md-4{
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
}

.btn{
  color: white;
  background-color:#3399CC;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn:hover {
  color: white;
}



