/* header */
header {
  width: 100%;
  border-bottom: solid 3px #3399CC;
  position: fixed; top:0; left: 0;
right: 0;
z-index:10;
}

.navbar {
}

.site {
  margin-top: 25px;
  margin-left: 5px;
}

.navbar-nav {
  font-size: 20px;
}

.nav-item{
  padding: 10px;
  border-radius: 25px;
  background-color:#3399CC;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 40px;
}

.item {
  color: white;
  text-decoration:none !important;
}
.item:hover {
  color: white;
}

.no-underline {
  color: #3399CC;
  font-size: 50px;
  text-decoration:none !important;
}
/* header */