/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 html {
  height: 100%;
 }

 /* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  } */
 /* リセットCSS */
 * {
   margin : 0;
   padding: 0;
   font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 }
  /* リセットCSS */
/* .container {
  width: 100vw; */

  /* .container { position: relative; width: 100%; height: auto !important; height: 100%; min-height: 100%; } */



/* .no-underline {
   text-decoration:none !important;
   color: black;
   font-size: 60px;
  } */
  
/* .nav{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.user_nav  {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

li {
text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}





.search-form {
  text-align: center;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.form-input {
  width: 100%;
}

.search{
  height: 30px;
  width: 35%;
  padding-left: 10px;
}

.form-submit {

  background-color: red;
  font-size: 16px;
  height: 30px;
  padding: 0px 10px;
  color: white;
  border: none;
}  */
