/* header */


.site {
  margin-top: 40px;
  margin-left: 5px;

}

.navbar-nav {
  font-size: 20px;
}

.nav-item{
  padding: 10px;
  border-radius: 25px;
  color: black;
  background-color:#3399CC;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 40px;
  text-align: center;
  list-style-type: none;
}

.item {
  color: white;
  text-decoration:none !important;
}
.item:hover {
  color: white;
}







.header-img {
  background-image: url("image001.jpg");
  background-size: cover;
  object-fit: cover;
}


.title {
  text-align: center;
  padding: 100px 0;
  color: white;
}

.no-underline {
  color: #3399CC;
  font-size: 50px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-decoration:none !important;
}
/* header */