.header-img {
  padding: 100px;
}


.header-img {
  background-image: url("image001.jpg");
  background-size: cover;
  object-fit: cover;
}

.title {
  text-align: center;
  padding: 100px 0;
  color: white;
}

.no-underline {
  color: #3399CC;
  font-size: 50px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-decoration:none !important;
}