<main>
  <div class="container">
    <div class="title">
      <%= link_to "OTOSUTA", "/" ,class:"no-underline"%>
    </div>
    <div class="nav">
      <ul class="user_nav grid-6">
        <%= link_to "ログイン", new_user_session_path, class: "post" %>
        <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      </ul>
    </div>
  </div>
  
  <div class="search-form">
    <div class="form-input">
      <input class="search" placeholder="キーワードから探す">
    <input class="form-submit" type="submit" value="検索する">
    </div>
  </div>
</div>
</main>
