<main>
  <div class="container">
    <div class="title">
      <%= link_to "OTOSUTA", "/" ,class:"no-underline"%>
    </div>
    <div class="nav">
      <ul class="lists">
        <li>ログイン</li>
        <li>新規登録</li>
      </ul>
    </div>
  </div>
  
  <div class="search-form">
    <div class="form-input">
      <input class="search" placeholder="キーワードから探す">
    <input class="form-submit" type="submit" value="検索する">
    </div>
  </div>
</div>
</main>
